<!DOCTYPE html>
<html lang="en">
<head><%- include('./head') %></head>
<body>
   <div class="wrapper">
      <header><%- include('./header') %></header>
      <div class="blok">
         <h1>Объявления</h1>
         <div class="wrapper-card">
            <div>
               <h2>Заголовок</h2>
               <h2>Ключевое слово</h2>
               <p>Котент 
                  Lorem ipsum dolor sit amet, consectetur 
                  dipisicing elit, sed do eiusmod tempor 
                  incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam, quis nostrud 
                   exercitation ullamco laboris nisi ut 
                   aliquip ex ea commodo consequat.
               </p>
            </div>
            <div class="card-write">
               <h4>
                  Aвтор
               </h4>
               <div>
                  Стоимость
               </div>
               <div class="card-reiting">
                  <label>Рейтинг 
                     Не нравится: <input type="button" value="1" data-counter>
                     Нравится: <input type="button" value="2" data-counter>
                  </label>
               </div>
               <div>
                  <form name="form_comment">
                     <div>
                        <input type="text" name="comment">
                        <input type="submit" value="Записать" name="btnsubmit_commentform">
                        <div class="out-comment">Комментарии</div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <footer><%- include ('./footer') %></footer>
   </div>
   <script src="./js/main.js"></script>
</body>
</html>