<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>desk general</title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
   <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
   <div class="wrapper">
      <div class="header">
         <div class="navbar">
            <a href="http://localhost:3000/">Главная</a>
            <a href="http://localhost:3000/form">Создать статью</a>
            <div class="dropdown">
              <button class="dropbtn">Категории
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <div class="header">
                  <h2>Выбрать категорию</h2>
                </div>
                <div class="row">
                  <div class="column">
                    <h3>НЕДВИЖИМОСТЬ</h3>
                    <a href="#">Аренда</a>
                    <a href="#">Продажа</a>
                    <a href="#">Обмен</a>
                    <a href="#">Ищу компаньона</a>
                  </div>
                  <div class="column">
                    <h3>ХОББИ И ОТДЫХ</h3>
                    <a href="#">Книги/ журналы</a>
                    <a href="#">Поиск попутчиков</a>
                    <a href="#">Билеты</a>
                    <a href="#">Другое</a>
                  </div>
                  <div class="column">
                    <h3>ЖИВОТНЫЕ</h3>
                    <a href="#">Животные даром</a>
                    <a href="#">Другие животные</a>
                    <a href="#">Зоотовары</a>
                  </div>
                  <div class="column">
                     <h3>Взаиморомощь</h3>
                  </div>
               </div>
              </div>
            </div>
          </div>
         
         <div class="menu">
            <div class="logo">
               <a href="http://localhost:3001/">
                  <p>Твой каприз</p>
               </a>
            </div>
         </div>
      </div>
      <div class="blok">
         <h1>Объявления</h1>
         <div class="wrapper-card">
            <div>
               <h2>Заголовок</h2>
               <h2>Ключевое слово</h2>
               <p>Котент 
                  Lorem ipsum dolor sit amet, consectetur 
                  dipisicing elit, sed do eiusmod tempor 
                  incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam, quis nostrud 
                   exercitation ullamco laboris nisi ut 
                   aliquip ex ea commodo consequat.
               </p>
            </div>
            <div class="card-write">
               <h4>
                  Aвтор
               </h4>
               <div>
                  Стоимость
               </div>
               <div class="card-reiting">
                  <label>Рейтинг 
                     Не нравится: <input type="button" value="1" data-counter>
                     Нравится: <input type="button" value="2" data-counter>
                  </label>
               </div>
               <div>
                  <form name="form_comment">
                     <div>
                        <input type="text" name="comment">
                        <input type="submit" value="Записать" name="btnsubmit_commentform">
                        <div class="out-comment">Комментарии</div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="footer"></div>
   </div>
   <script src="./js/main.js"></script>
</body>
</html>