<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>desk general</title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
   <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
   <div class="wrapper">
      <header><%- include('./header') %></header>

      <div class="blok">

         <div class="article">
            <article class="artic">
               <h2>
                  Топ публикаций
               </h2>
               <header class="headers_elect_card_categori">
                  <button class="button button_color_all" data-filter="all">
                     Все обьявления
                  </button>
                  <button class="button button_color_cat" data-filter="cat">
                     Топ рейтинга
                  </button>
               </header>

               <div class="conteiner_card_categori">
                  <div class="card cat">
                     <h3>Заголовок</h3>
                     <h4>Ключевое слово</h4>
                     <p>
                        бла бла бла юлаkgkjgkgkgkgkgjhfj kjgjhgjhg kjgjhgjhg
                        hgkjgjhlhlklkjlkhjhghg kkggkuyftyhgfdsesrgffduy uytyf 
                        hgfhgfj fjhghfjfdfgu uytdtfyuh ugyftd yyftd yftydtdy
                     </p>
                  </div>
                  <div class="card bird">НЕДВИЖИМОСТЬ</div>
                  <div class="card hobbi">ХОББИ И ОТДЫХ</div>
                  <div class="card dog">ЖИВОТНЫЕ</div>
                  <div class="card dog">ОБМЕН</div>
               </div>

               <div>
                  <button class="button button_color_all color_button" data-filter="all">
                     <a href="http://localhost:3000/form">Создать новое обьявление</a>
                  </button>
               </div>
               
            </article>
         </div>

         <div class="cluch_slova">
            <h2>Категории</h2>
            <div class="out">
               <header class="headers_elect_card_categori">
                  <button class="button button_color_all" data-filter="nedvijimost">НЕДВИЖИМОСТЬ</button>
                  <button class="button button_color" data-filter="electronica">ЭЛЕКТРОНИКА</button>
                  <button class="button button_color" data-filter="hobbi">ХОББИ И ОТДЫХ</button>
                  <button class="button button_color" data-filter="bird">РАБОТА ВАКАНСИИ</button>
                  <button class="button button_color" data-filter="dog">РАБОТА РЕЗЮМЕ</button>
                  <button class="button button_color" data-filter="dog">ТРАНСПОРТ</button>
                  <button class="button button_color" data-filter="dog">ЖИВОТНЫЕ</button>
                  <button class="button button_color" data-filter="dog">ДЕТСКИЙ МИР</button>
                  <button class="button button_color" data-filter="dog">БИЗНЕС И УСЛУГИ</button>
                  <button class="button button_color" data-filter="dog">МОДА И СТИЛЬ</button>
                  <button class="button button_color" data-filter="dog">ДОМ И САД</button>
                  <button class="button button_color" data-filter="dog">ВЗАИМОПОМОЩЬ</button>
                  <button class="button button_color" data-filter="dog">ОБМЕН</button>
                  <button class="button button_color" data-filter="dog">СКИДКИ</button>
               </header>
            </div>

         </div>

      </div>

      <footer><%- include ('./footer') %></footer>

   </div>
   <script src="./js/main.js"></script>
</body>
</html>